---
Checks: >-
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  modernize-*,
  concurrency-*,
  cert-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-virtual-class-destructor,
  -concurrency-mt-unsafe,
  -cert-err33-c,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-redundant-member-init,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -performance-inefficient-vector-operation,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -readability-redundant-access-specifiers
WarningsAsErrors: ''
FormatStyle: none
HeaderFilterRegex: '(.*/)?(memrpc|virus_executor_service|third_party/ohos_sa_mock)/(include|src|tests)/.*'
CheckOptions:
  - key: bugprone-dangling-handle.HandleClasses
    value: 'std::basic_string_view;std::span'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
...
